<div class="container">
    <div class="footer__inner">
        <div class="footer__row">
            <div class="footer__col">
                <div class="footer__col-title">Контактная информация</div>
                <a href="" class="footer__link desc">test@test.ru</a>
                <a href="" class="footer__link desc">+8 777 555 66 99</a>
                <a href="" class="footer__link desc">Москва, Бульвар Ленина 33</a>
            </div>
            <div class="footer__col">
                <div class="footer__col-title">Основные ссылки</div>
                <a href="" class="footer__link desc">Главная</a>
                <a href="" class="footer__link desc">Наши проекты</a>
                <a href="" class="footer__link desc">Наши услуги</a>
                <a href="" class="footer__link desc">Контакты</a>
            </div>
            <div class="footer__col">
                <div class="footer__col-title">Наши проекты</div>
                <a href="" class="footer__link desc">РосНано</a>
                <a href="" class="footer__link desc">Сколково</a>
                <a href="" class="footer__link desc">Проект "Восток"</a>
                <a href="" class="footer__link desc">ТЭЦ Калининграда</a>
            </div>
            <div class="footer__col">
                <div class="footer__col-title">Социальные сети</div>
                <a href="" class="footer__link desc">VK.com </a>
                <a href="" class="footer__link desc">Instagram</a>
                <a href="" class="footer__link desc">Facebook</a>
                <a href="" class="footer__link desc">Twitter</a>
            </div>
        </div>
        <div class="line"></div>
        <p class="footer__copy desc">(с) 2019. Все права защищены.</p>
    </div>
</div>