<div class="container form-section__container">
    <div class="line"></div>
    <div class="form-section__form">
        <div class="form-section__title title">
            Подпишитесь на нашу рассылку
        </div>
        <p class="form-section__desc desc">
            Полезные статьи, акции, новости - получите все это сейчас!
        </p>
        <div class="form-section__row row">
            <input type="text" class="form-section__input" placeholder="Ваш e-mail" name="email" id="email">
            <button class="button form-section__button">Подписаться</button>
        </div>
        <p class="desc form-section__desc" id='form-section__desc'>Мы не шлем спам, и передаем никому ваши данные.</p>
    </div>
</div>