<nav class="header__nav">
    <div class="container header__container">
        <ul class="header__menu">
            <li class="header__menu-item"><a href="#" class="header__menu-link">Главная</a></li>
            <li class="header__menu-item"><a href="#" class="header__menu-link">Наши проекты</a></li>
            <li class="header__menu-item"><a href="#" class="header__menu-link">Услуги</a></li>
            <li class="header__menu-item"><a href="#" class="header__menu-link">Новости</a></li>
            <li class="header__menu-item"><a href="#" class="header__menu-link">Контакты</a></li>
        </ul>
    </div>
</nav>
<div class="header__content">
    <div class="container header__content-container">
        <p class="header__content-desc desc">
            Передовая IT студия
        </p>
        <h1 class="header__content-title">
            Мы создаем легкие решения сложных задач и проблем
        </h1>
        <button class="button">Наши проекты</button>
    </div>
</div>