<div class="our-work__purule">
    <div class="container our-work__container">
        <div class="our-work__container-inner">
            <div class="our-work__row row">
                <div class="title our-work__title">
                    Наши работы, на которых мы специализируемся
                </div>
                <button class="button">Все услуги</button>
            </div>
            <div class="our-work__items">
                <div class="our-work__item">
                    <img src="img/proto.jpg" alt="team" class="our-work__img">
                    <h3 class="our-work__item-title"> <span class="blue_text">01.</span> Создаем интерактивные прототипы приложения</h3>
                    <p class="our-work__desc desc">
                        Прорабатываем пользовательские сценарии и визуализируем общую структуру мобильного приложения на основе технического задания. Скетчируем и продумываем логику переходов между экранами.
                    </p>
                    <a href="#" class="our-work__link link">Подробнее</a>
                </div>
                <div class="our-work__item">
                    <img src="img/tz.jpg" alt="team" class="our-work__img">
                    <h3 class="our-work__item-title"><span class="blue_text">02.</span> Пишем детальное техническое задание</h3>
                    <p class="our-work__desc desc">
                        Составляем техническое задание — подробное описание того, как будет работать мобильное приложение. Готовим требования для взаимодействия с сервером и передачи данных, к панели администратора для управления контентом приложения.
                    </p>
                    <a href="#" class="our-work__link link">Подробнее</a>
                </div>
                <div class="our-work__item">
                    <img src="img/backend.jpg" alt="team" class="our-work__img">
                    <h3 class="our-work__item-title"><span class="blue_text">03.</span> Программируем back-end: серверная часть</h3>
                    <p class="our-work__desc desc">
                        Быстро разрабатываем нативные приложения, потому что используем зарекомендовавшие себя решения и набор библиотек, которые сами создали и поддерживаем. Тестируем приложения с помощью Unit- и UI-тестов.
                    </p>
                    <a href="#" class="our-work__link link">Подробнее</a>
                </div>
            </div>
            <!-- <div class="line"></div> -->
        </div>
    </div>
</div>
<div class="our-work__white">
</div>