<div class="container">
    <div class="projects__inner">
        <div class=" projects__title title">
            Наши проекты
        </div>
        <p class="desc projects__desc">
            Создаем сайты и приложения для бизнеса с 2010 года. Ими пользуются миллионы довольных пользователей каждый день.
        </p>
        <div class="projects__items">
            <div class=" projects__row row">
                <img src="img/site2.jpg" alt="" class="projects__img">
                <img src="img/site3.jpg" alt="" class="projects__img">
            </div>
            <div class="projects__row row">
                <img src="img/site4.jpg" alt="" class="projects__img">
                <img src="img/site1.jpg" alt="" class="projects__img">
            </div>
        </div>
        <button class="button">Все проекты</button>
    </div>
</div>